<syn-select
  (syn-change)="onSelectChange($event)"
  [helpText]="helpText()"
  [label]="label()"
  [value]="value()"
  size="small"
>
  @if (selectedOption(); as opt) {
    <div class="flex items-center" slot="prefix">
      <img
        (error)="handleImageError($event)"
        [alt]="opt.label + ' LiDAR device'"
        [src]="opt.imageSrc"
        class="w-5 h-5 rounded-md border border-syn-color-neutral-200 bg-white shrink-0"
        style="object-fit: contain; padding: 1px; margin-right: 6px"
      />
    </div>
  }

  @for (opt of options(); track opt.value) {
    <syn-option [value]="opt.value">
      <img
        (error)="handleImageError($event)"
        [alt]="opt.label + ' LiDAR device'"
        [src]="opt.imageSrc"
        class="w-6 h-6 rounded-md border border-syn-color-neutral-200 bg-white shrink-0"
        slot="prefix"
        style="object-fit: contain; padding: 2px; margin-right: 8px"
      />
      {{ opt.label }}
    </syn-option>
  }
</syn-select>
