<syn-card class="h-full flex flex-col overflow-hidden">
  <syn-tab-group class="shrink-0">
    <syn-tab slot="nav" panel="node-types">
      <syn-icon name="account_tree_fill" class="mr-1" />Node Definitions
    </syn-tab>
    <syn-tab slot="nav" panel="plugins">
      <syn-icon name="extension_fill" class="mr-1" />Plugins
    </syn-tab>
    <!-- Empty panels required by syn-tab-group API -->
    <syn-tab-panel name="node-types"> <app-node-types-list /></syn-tab-panel>
    <syn-tab-panel name="plugins"><app-plugins-list /></syn-tab-panel>
  </syn-tab-group>
</syn-card>
