<syn-header #header>
  <nav slot="meta-navigation" class="flex items-center">
    <app-connection-status (refresh)="onRefresh()" />

    <app-sensor-status />

    <app-notices-status (acknowledge)="onAcknowledge()" />

    <syn-icon-button
      name="info"
      label="Platform Guide"
      size="medium"
      (click)="toggleGuide()"
    />

    <app-theme-switch />

    <app-user-info />
  </nav>

  <div slot="label" class="flex items-center gap-2 h-full">
    <span class="font-semibold text-lg whitespace-nowrap">
      {{ label() }} v{{ uiVersion }}
    </span>


    @if (headline()) {
      <syn-icon name="chevron_right" class="text-neutral-500 flex-shrink-0" />

      <span class="text-base self-center" style="color: var(--syn-color-neutral-700)">
        {{ headline() }}
      </span>
    }
  </div>
</syn-header>
