<syn-side-nav
  #sideNav
  (synHideEvent)="onHide.emit()"
  (synShowEvent)="onShow.emit()"
  [open]="open()"
  noFocusTrapping
  variant="default"
>
  @for (item of mainNavItems; track item) {
    <syn-nav-item
      #rla="routerLinkActive"
      [attr.divider]="item.divider ? '' : null"
      [current]="rla.isActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="[item.route]"
      routerLinkActive="current"
    >
      <syn-icon [name]="item.icon" slot="prefix" />
      {{ item.label }}
    </syn-nav-item>
  }

  @for (item of footerNavItems; track item) {
    <syn-nav-item
      #rlaFooter="routerLinkActive"
      [attr.divider]="item.divider ? '' : null"
      [current]="rlaFooter.isActive"
      [routerLink]="[item.route]"
      routerLinkActive="current"
      slot="footer"
    >
      <syn-icon [name]="item.icon" slot="prefix" />
      {{ item.label }}
    </syn-nav-item>
  }
</syn-side-nav>
