:host {
  display: contents;
}

syn-side-nav::part(overlay) {
  display: none;
}

syn-nav-item.current {
  --syn-nav-item-color: var(--syn-color-primary-600);
  font-weight: var(--syn-font-weight-bold);
}
