/* Global styles for the application */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: var(--syn-font-sans);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE/Old Edge */
* {
  -ms-overflow-style: none;
}